html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 100%;
    height: 800px;
    float: left;
}


/* Navbar */

nav {
    float: right;
}

ul {
    list-style-type: none;
    margin-top: 1em;
}

li {
    float: left;
}

li a {
    padding: .7em;
    margin: .5em;
    background-color: white;
    color: black;
    padding: .5em .4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
}

li a:hover {
    color: #e0c347;
}


#paginaA {
    background: #ceced6;
    height: 900px;
}

#paginaB {
    background: #7c7c7c;
}

#paginaC {
    background: #ceced6;
    height: 700px;
}


/* Buttons */

#btn1 {
    background-color: #e0c347;
    color: white;
    padding: .5em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
    box-shadow: 0em .1em 0em 0em lightgray;
}

#btn2 {
    background-color: white;
    color: black;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
    border: .1em solid lightgray;
    margin-right: 3em;
}

#btn3 {
    background-color: #e0c347;
    color: white;
    padding: .7em 3.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
    box-shadow: 0em .1em 0em 0em lightgray;
    list-style-type: none;
    margin-top: 5em;
    margin-left: 12.7em;
}

#btn4 {
    background-color: white;
    color: black;
    padding: .7em 3.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
    border: .1em solid lightgray;
    margin-left: 2.5em;
}

/* Overige Homepage css */

.breakline {
    margin-top: 6em;
    box-shadow: 0em .2em .4em 0em lightgray;
}

.future,
.dot {
    color: #e0c347;
}

.titel1 {
    font-size: 5em;
    margin-top: 1.5em;
    margin-left: 2.5em;
}


/* Pagina A Css */

.titel2 {
    font-size: 5em;
    margin-top: .5em;
    margin-left: 1.5em;
    color: #e0c347;
}

.titel3 {
    color: #e0c347;
    padding-bottom: 1em;
}

.text1 {
    font-weight: lighter;
    margin-top: 1.5em;
    margin-left: 5.1em;
}

.box1 {
    float: left;
    padding: 2em;
    padding-top: 2em;
    padding-bottom: 7em;
    width: 45%;
    background-color: white;
    margin-left: 6.5em;
    margin-top: 2.5em;
    border-radius: 2em;
}

.box2 {
    float: right;
    padding: 2em;
    padding-top: 2em;
    padding-bottom: 8em;
    width: 25%;
    background-color: white;
    margin-right: 6.5em;
    margin-top: 2.5em;
    border-radius: 2em;
}

.box3 {
    margin-top: 21em;
    padding: 2em;
    padding-bottom: 8em;
    width: 25%;
    background-color: white;
    margin-left: 6.5em;
    border-radius: 2em;
}

.box4 {
    float: right;
    padding: 2em;
    padding-top: 2em;
    padding-bottom: 7em;
    width: 45%;
    background-color: white;
    margin-left: 6.5em;
    margin-top: 2.5em;
    border-radius: 2em;
}


/* Pagina C Css */

.li-main {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 22% 22%;
    padding: 10px;
}

.li-1 {
    font-size: 16pt;
}

.li-2 {
    font-size: 16pt;
}

.socials {
    float: right;
    margin-right: 10%;
}

.rights {
    position: absolute;
    right: 0;
    bottom: -320%;
    left: 0;
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: 16pt;

}

.footer {
    margin-top: 250px;
}



/* Animations */

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}